<!-- PARTIAL -->
<h1 class="text-center">Landing Page </h1>
 <nav class="navbar navbar-light bg-info text-center">
      <a class="navbar-brand" href="#!/"></a>
      <ul class="nav navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#!/morningDiary">Good Morning <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!/eveningDiary">Good Evening</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!/getData">Public Data</a>
        </li>
      </ul>
</nav>

<!-- <a href=""><button>Good Morning</button></a>
<a href=""><button>Good Evening</button></a>
<a href=""><button>Global Public Data</button></a>
<a href=""><button>Login</button></a>
 -->
